.content{
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:0.7rem;
  color:lightgrey;
  border-radius: 10px;
}

// thead, tbody, tr, td, th { display: block; }
// tr:after {
//   content: ' ';
//   display: block;
//   visibility: hidden;
//   clear: both;
// }
